Slf.Dms.Client/App_WebReferences/localhost/Dashboard.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.lexxiom.com/Dashboard/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://www.lexxiom.com/Dashboard/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.lexxiom.com/Dashboard/">
      <s:element name="GetDashboard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="scenario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="params" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDashboardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDashboardResult" type="tns:ArrayOfDashboardItem" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfDashboardItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="DashboardItem" type="tns:DashboardItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="DashboardItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="XML">
            <s:complexType mixed="true">
              <s:sequence>
                <s:any />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="1" maxOccurs="1" name="ClientX" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ClientY" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientWidth" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ClientHeight" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDashboardSoapIn">
    <wsdl:part name="parameters" element="tns:GetDashboard" />
  </wsdl:message>
  <wsdl:message name="GetDashboardSoapOut">
    <wsdl:part name="parameters" element="tns:GetDashboardResponse" />
  </wsdl:message>
  <wsdl:portType name="DashboardSoap">
    <wsdl:operation name="GetDashboard">
      <wsdl:input message="tns:GetDashboardSoapIn" />
      <wsdl:output message="tns:GetDashboardSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DashboardSoap" type="tns:DashboardSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDashboard">
      <soap:operation soapAction="http://www.lexxiom.com/Dashboard/GetDashboard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DashboardSoap12" type="tns:DashboardSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDashboard">
      <soap12:operation soapAction="http://www.lexxiom.com/Dashboard/GetDashboard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Dashboard">
    <wsdl:port name="DashboardSoap" binding="tns:DashboardSoap">
      <soap:address location="http://localhost:2970/Dashboard.asmx" />
    </wsdl:port>
    <wsdl:port name="DashboardSoap12" binding="tns:DashboardSoap12">
      <soap12:address location="http://localhost:2970/Dashboard.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>